body{
	height:900px;
  background-color: red; 
  background-image: linear-gradient(to bottom right, red, orange); 
  background-repeat: no-repeat;
   background-size:cover;
}
.columna{
	text-align: center;
	height: 100px;
}
.columna1{
	text-align: center;
	background-color: white;
	height: 800px;
}
.columna2{
	text-align: center;
	height: 800px;
}
.i3{
	background-image:url(../../assets/img/blog-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
p{
	text-align:center;
	font-style:italic;
}
h1{
	text-align: center;
	color:white;
	font-style:oblique;

}