body{
  background-color: blue; 
  background-image: linear-gradient(to bottom right, blue, yellow); 
  background-repeat: no-repeat;
   background-size:cover;
}
.columna{
background:white;
}
.columna1{
background:white;
height:600px; 
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.columna2{
 height:100px; 
}
p{
	text-align:center;
	font-style:italic;
}
h1{
	text-align: center;
	color:white;
	font-style:oblique;

}
.i2{
	background-image:url(../../assets/img/blog-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}