
body{
  height:900px;
  background-color: green; 
  background-image: linear-gradient(to right, green, white); 
  background-repeat: no-repeat;
   background-size:cover;
}
.columna{
	text-align: center;
	height: 100px;
}
.columna1{
	text-align: center;
	background-color: white;
	height: 800px;
} 
.i4{
	background-image:url(../../assets/img/blog-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
p{  
	text-align:center;
	font-style:italic;
	background-color: white;
}
h1{
	text-align: center;
	color:grey;
	font-style:oblique;

}