body{
	height: 55px;
  background-color: red;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, pink, violet);
}

.columna{
border:1px color:black;
}
.columna1{
border:solid;
background:white;
height:50px;
text-align:center;
}

.columna2{
border:solid;
background:white;
height:350px;
text-align:center;
}
.columna3{
border:solid;
background:white;
height:350px;
}
.columna4{
border:solid;
background:white;
height:200px;
text-align:center;
}
.columna5{
border:solid;
background:white;
height:50px;
text-align:center;
}
.i1{
	background-image:url(../../assets/img/interior-design-0.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}
.i2{
	background-image:url(../../assets/img/blog-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.i3{
	background-image:url(../../assets/img/blog-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.i4{
	background-image:url(../../assets/img/blog-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.i5{
	background-image:url(../../assets/img/blog-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
a{
  color: #801B14;
  text-decoration: none;
  transition: all .5s;
  font-family: 'Open sans';
  
}
